<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
          class="img-circle"
          alt="User Image"
        />
      </div>
      <div class="pull-left info">
        <p>Joshua Tanner</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="../dashboard"><i class="fa fa-home"></i> 
          <span>Home</span>
        </a>
      </li>
      <li class="header">MODERATION</li>
      <li>
        <a href="../dashboard"><i class="fa fa-search"></i> 
          <span>Search Users</span>
        </a>
      </li>
      <li>
        <a href="../dashboard"><i class="fa fa-exchange"></i> 
          <span>Trade Logs</span>
        </a>
      </li>
      <li>
        <a href="../dashboard"><i class="fa fa-gavel"></i> 
          <span>Punishments</span>
        </a>
      </li>
      <li class="header">QUALITY ASSURANCE</li>
      <li>
        <a href="../dashboard"><i class="fa fa-bug"></i> 
          <span>Bug Reports</span>
        </a>
      </li>
      <li>
        <a href="../dashboard"><i class="fa fa-exclamation-circle"></i> 
          <span>Error Log</span>
        </a>
      </li>
      <li class="header">EXECUTIVE</li>
      <li>
        <a href="../dashboard"><i class="fa fa-money"></i> 
          <span>Revenue</span>
        </a>
      </li>
      <li>
        <a href="../dashboard"><i class="fa fa-clock-o"></i> 
          <span>Retention</span>
        </a>
      </li>
      <li>
        <a href="../dashboard"><i class="fa fa-pie-chart"></i> 
          <span>General Analytics</span>
        </a>
      </li>
      <li>
        <a href="../dashboard"><i class="fa fa-user-plus"></i> 
          <span>Manage Accounts</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
